/* ============================= */
/* RESPONSIVIDADE PARA CELULAR */
/* ============================= */

@media (max-width: 768px) {

    body{
        background-position: center;
        background-size: cover;
        padding: 15px;
    }

    .container{
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
    }

    h1{
        font-size: 30px;
        line-height: 1.4;
        margin-bottom: 20px;
    }

    h2{
        font-size: 20px;
        margin-top: 20px;
    }

    .destaque{
        padding: 2px 6px;
    }

    button{
        width: 100%;
        max-width: 350px;
        padding: 16px;
    }

    button a{
        font-size: 18px;
    }

    .progress-wrapper{
        width: 100%;
        padding: 10px;
    }

    .progress-label{
        font-size: 12px;
    }

    .progress-container{
        height: 20px;
    }

    .progress-bar{
        border-radius: 10px;
    }

    .progress-text{
        font-size: 10px;
        margin-right: 10px;
    }

    .runner{
        width: 28px;
        height: 28px;
        top: -22px;
        right: -12px;
    }
}
